<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Endpoints Demo</title>
    <link rel="stylesheet" href="{{encrypt_value('/static/styles.css', request)}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <h1>Encrypted Endpoints Demo</h1>
        {% if user %}
        <i class="fas fa-sign-out-alt logout-icon" onclick="location.href='{{encrypt_value('/logout/', request)}}'"></i>
        {% endif %}
    </header>

    <main>
        <section class="welcome-section">
            <h2>Welcome to the Encrypted Endpoints Demo!</h2>
            <p>Explore how to securely create, fetch, and vote on encrypted posts.</p>
        </section>

        <div class="auth-container">
            {% if user %}
            <div class="user-greeting">
                <p>Welcome back, {{ user.username }}!</p>
            </div>
            {% else %}
            <div class="login-register-form">
                <form action="{{encrypt_value('/auth/', request)}}" method="post">
                    <h3>Login/Register</h3>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>

        {% if user %}
        <div class="create-post-button">
            <button id="createPostButton">Create Post</button>
        </div>
        <div id="createPostForm" style="display: none;">
            <h2>Create a New Encrypted Post</h2>
            <label for="postTitle">Title:</label>
            <input type="text" id="postTitle" name="title" required>
            <div id="userData" data-user='{{ user | tojson }}'></div>

            <label for="postContent">Content:</label>
            <textarea id="postContent" name="content" required></textarea>

            <button type="submit" id="submitPost">Post</button>
            <button type="button" id="cancelPost" class="cancel-button">Cancel</button>
        </div>
        {% endif %}

        <section class="posts-section">
            <!-- Posts will be inserted here by JavaScript -->
        </section>
    </main>

    <script src="{{encrypt_value('/templates/scripts.js', request)}}" defer></script>

</body>

</html>